.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 40px;
  color: var(--white);

  background-color: var(--primary-color);
  padding: 25px 30px;
}

.footer a:hover {
  color: var(--gray-light);
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }
}
